body
{
	margin: 0px;
}
.header
{
	background-color: Green;
	height: 90px;
	width: 160px;
}
.gview .pager
{
	background: url(images/grid_pager.png) repeat-x top;
}

.gview .pager table
{
	margin: 5px 0;
}

.gview .pager td
{
	border-width: 0;
	padding: 0 6px;
	font-weight: bold;
	line-height: 12px;
}

.gview .pager a
{
	color: #fff;
	text-decoration: none;
}

.gview .pager a:hover
{
	color: #424242;
	text-decoration: none;
}

.PagerStyle table
{
	text-align: center;
	margin: auto;
	font-weight:bold;
	height:10px;
	border:2;
}
.PagerStyle table td
{
	border: 1px;
	padding: 3px;
	height:5px;
}
.PagerStyle td
{
	border:1;		
	border-top: #ff0000 1px solid;
}
.PagerStyle a
{
	color:Green;
	text-decoration: none;
	border:2;
}

.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
	background-color: #ccc;
}

.done
{
	font-size: 13px;
	color: #009900;
	font-weight: bold;
	background-color: #CCFF66;
	border: 1px;
	border-color: Yellow;
	padding: 4px;
	margin-left: 3px;
	border-color: #009900;
	border-style: solid;
	border: "1px";
	width: 98%;
}


.success
{
	border: 1px solid #8dbc2d;
	background-color: #d8ecb0;
	font-size: 15px;
	font-weight: bold;
	padding: 5px;	
	margin-top:10px;
}

.header2
{
	background-color: Green;
	height: 90px;
	width: 300px;
	font-family: Arial;
	text-align: left;
}

.header11
{
	background-color: Green;
	height: 20px;
	width: 100px;
	color: White;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial;
	text-align: left;
}
.main
{
	height: 480px;
	padding: 10px;
	
	background-repeat:no-repeat;
	background-position:right;
}
.footer
{
	background-color: Black;
	color: White;
	height: 30px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12px;
	
}
.menu
{
	background-color: #bbeeec;
	height: 30px;
}
	.labelsy
	{
		font-size: 12px;
		font-weight: bold;
		font-family: Verdana;
		height:20px;
	
	}
	
	.label1
	{
		font-size: 14px;				
		font-family:Verdana;
		
	}
.textbox
{
	border: solid 1px Gray;
	font-size: 12px;
	font-family: Verdana;
	height: 20px;
	width: 200px;

}
.inputs{
	border:none;	
	border-bottom:#333 1px dashed;
}


.input{
	border:none;
	border-bottom:#333 1px dashed;
}

.dropdown
{
	border: solid 1px Gray;
	font-size: 12px;
	font-family: Calibri;
	width: 202px;
	height: 25px;
}


.dropdownapp
{
	border: solid 1px Gray;
	font-size: 12px;
	font-family: Calibri;
	width: 202px;
	height: 20px;
}
.gview
{
	font-size: 12px;
	font-family: Calibri;
	color: Black;
	
	border: solid 1px Black;
	text-align:center;
}
.gview th
{
	padding: 4px 2px; color: #fff; background: #42720E; border-left: solid 1px #525252; font-size: 0.9em;
}
.textboxcss
 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 5px 5px 5px;
	color:#333;
	border:none;
	width:200px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 0 2px #000;
}



.gview11 th
{
	/*font-weight:bold; 	color:White ; 	background-color:Green;*/
	border: 1px solid Black;
	background-color: #414141;
	
	height: 23px;
	padding-left: 3px;
	font-weight: bold;
	color: white;
	border: solid 1px Black;
}

.gview .alt
{
	 background-color:#DBF2DD;
}


.gview tr
{
	background-color: white;
	height: 23px;
	padding-left: 3px;
	border-bottom: 1px dotted #e0e0e0;
	border: solid 1px Black;
	color:#414141;
}
.gview .pgr {background: #424242 url(../images/grd_pgr.png) repeat-x top;}
    .gview .pgr table { text-align:center; margin: 5px 0; height:10px }
    .gview .pgr td { border-width: 0; text-align:center; padding: 0 6px; border-left: solid 1px #666;  font-size:medium; font-weight: bold; color:Green; line-height: 12px; }   
    .gview .pgr a { color: #666; text-decoration: none; }
    .gview .pgr a:hover { color:Blue; text-decoration: none; }
 
 
 
 .mGrid {  background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Tahoma;}
    .mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: #717171; font-size:12px;}
    .mGrid th { padding: 5px 2px; color:White; text-align:center; background: #424242 url(../images/grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 13px }
.mGrid th a{ color:White;}
.mGrid .alt { background: #fcfcfc url(../images/grd_alt.png) repeat-x top; }
.mGrid .pgr {background: #424242 url(../images/grd_pgr.png) repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
    
.mGrid .head { text-align:center}
   .normalRow
{
background-color:white;/* You can update the background Color to normal Gridview Back Color */
cursor:pointer;/* You can change cursor pointer to default, Pointer etc */
}
   
.alternates
{
background-color :LightGray;	
}
.label_style td
{
	height: 27px;
	margin-left: 40px;
}


.label_style1 td
{
	height: 25px;
	width: 300px;
}
	
	.linkbutton
	{
		font-size: 9px;		
		font-family: Verdana;
		color:Navy;
	
	}

.label_style2 td
{
	height: 25px;
}
.label_style3 td
{
	height: 22px;
	vertical-align: middle;
}

.Cal
{
	margin: 0px;
}

.req
{
	background: url(../images/bullet_cross.png) no-repeat 5px 50%;
	font-family: Calibri;
	font-size: 11px;
	padding-left: 20px;
	color: Gray;
	font-weight: bold;
}

.div_gray
{
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;
	background-color: #dcdcdc;
	height: 20px;
	padding-top: 5px;
}
.style2
{
	color: Green;
	font-size: 11px;
	font-weight: bold;
}


.radio
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #ef001f;
}

.CalendarStyle
{
	color: Black;
	border: solid 2px Green;
}
.ajax__calendar_body
{
	color: Black;
	background-color: #e7e7e7;
}

.ajax__calendar_header
{
	border: solid 1px Black;
	background-color: Green;
	color: White;
	font-weight: bold;
}
.ajax__calendar_footer
{
	background-color: Green;
	color: White;
	font-weight: bold;
}


.ajax__calendar_active
{
	color: Green;
	font-weight: bold;
	background-color: Pink;
}
.abc
{
font-size:25px;	
}

.button
{
	font-size: 15px;
	background-color:#333333;
	color: White;
	font-family: Vodafone Rg;
	border:inset 1px Black;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.buttoncss1
{
	font-size: 15px;
	background-color:#773C00;
	color: White;
	font-family: Vodafone Rg;
	border:inset 1px Black;
	width: 80px;
	height: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}



.buttoncssold
{

   border-top: 1px solid #30c7a6;
   align:center;
   background: #6ed665;
   background: -webkit-gradient(linear, left top, left bottom, from(#42b52b), to(#6ed665));
   background: -webkit-linear-gradient(top, #42b52b, #6ed665);
   background: -moz-linear-gradient(top, #42b52b, #6ed665);
   background: -ms-linear-gradient(top, #42b52b, #6ed665);
   background: -o-linear-gradient(top, #42b52b, #6ed665);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #f7f7fa;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.buttoncss:hoverold {
   border-top-color: #377d1f;
   background: #377d1f;
   color: #ccc;
   }
.buttoncss:activeold {
   border-top-color: #1b5c39;
   background: #1b5c39;
   }



.buttoncss {
	display: block; 
	font-size: 18px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 3px 5px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
}
.buttoncss:active {
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}

